version: "3.9"

services:
  flechasql:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: flechasql
    ports:
      - "8000:8000"
    volumes:
      - ../app:/app/app
      - ./build_assets:/app/app/build_assets
    depends_on:
      - qdrant
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1

  qdrant:
    image: qdrant/qdrant
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage:z
    restart: unless-stopped